# Default values for mychart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Install Default RBAC roles and bindings
rbac:
  create: true
  apiVersion: v1

## Service account name and whether to create it
serviceAccount:
  create: true
  name: rainbond-operator

# rainbondOperator
operator:
  name: rainbond-operator
##    env:
##      variable_name: variable
  image:
    name: registry.cn-hangzhou.aliyuncs.com/goodrain/rainbond-operator
    tag: v1.1
    pullPolicy: IfNotPresent
  logLevel: 4

#Rainbondcluster
Cluster:
## 定义是否开启高可用，true为开，false为关  
  enableHA: false
  
## 定义是否开启环境检测，true为开，false为关，默认开启
  enableEnvCheck: true

## 定义是否使用外部镜像镜像仓库，true为开，false为关
  imageHub:
    enable: false
    domain: registry.cn-hangzhou.aliyuncs.com
    namespace: rainbond
    password: admin
    username: admin

## 外部ETCD，对应填写IP，证书，true为开，false为关
  etcd:
    enable: false
    endpoints: 
    - 192.168.0.1:2379 
    - 192.168.0.2:2379
    - 192.168.0.3:2379
    secretName: "rbd-etcd-secret"

## 外部存储，直接填写storageClassName，true为开，false为关
  RWX:
    enable: false
    type: 
    config:
      storageClassName: glusterfs-simple
      server: 


## 外部存储，直接填写storageClassName，true为开，false为关
  RWO:
    enable: false
    storageClassName: glusterfs-simple

## region数据库，true为开，false为关
  regionDatabase:
    enable: false
    host: 192.168.0.1
    name: region
    password: password
    port: 3306
    username: admin

## ui数据库，true为开，false为关
  uiDatabase:
    enable: false
    host: 192.168.0.1
    name: console
    password: password
    port: 3306
    username: admin 

## 对外网关，填写IP
#  gatewayIngressIPs: 192.168.0.1

## chaos对应配置，name为Chaos节点node名称
#  nodesForChaos:
#  - name: node1
#  - name: node2

## 网关节点对应配置，externalIP为网关节点外部IP，internalIP为网关节点内部IP，name为网关节点node名称
#  nodesForGateway:
#  - externalIP: 192.168.0.1
#    internalIP: 192.168.0.1
#    name: node1
#  - externalIP: 192.168.0.2
#    internalIP: 192.168.0.2
#    name: node2

## 系统组件统一镜像仓库拉取地址及名称空间
  rainbondImageRepository: registry.cn-hangzhou.aliyuncs.com/goodrain
## 系统组件统一镜像版本
  installVersion: v5.7.0-release
## 系统组件统一镜像拉取策略
  imagePullPolicy: IfNotPresent
## 高可用安装模式下，系统组件副本数
  replicas: 2
 
    

Component:

## rbd-api 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载
  rbd_api:
    args:
  ##    - --api-addr          api服务器侦听地址（默认为“127.0.0.1:8888”）
  ##    - --enable-feature    支持的特殊功能列表
  ##    - --log-level         日志级别（默认“info”）
  ##    - --mysql             mysql数据库连接信息
  ##    - --etcd              etcd服务器或代理地址
  ##    - --api-ssl-enable    是否启用websocket SSL
  ##    - --api-addr-ssl      api服务器侦听地址（默认为“0.0.0.0:8443”）
  ##    - --api-ssl-certfile  websocket和文件服务器ssl证书文件
  ##    - --api-ssl-keyfile   websocket和文件服务器ssl密钥文件
  ##    - --client-ca-file    api ssl ca文件
## 环境变量variable_name为变量名,variable为变量值
  ## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##    variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-gteway 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载
  rbd_gteway:
    args:
  ##    - --log-level        日志级别
  ##    - --error-log        记录错误日志路径
  ##    - --enable-kubeapi   是否启用kube apiserver的负载平衡
  ##    - --etcd-endpoints   etcd集群连接地址
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-node 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载
  rbd_node:
    args:
  ##    - --log-level   日志级别，默认info
  ##    - --etcd        etcd地址,默认 [http://127.0.0.1:2379]
  ##    - --hostIP      当前节点ip,未指定时获取eth0 ip
  ##    - --run-mode    node属性,默认是manage
  ##    - --noderule    节点属性，默认是compute 
  ##    - --nodeid      此节点的唯一ID，只需指定，不要修改
  ##    - --image-repo-host  镜像仓库主机
  ##    - --hostsfile   /etc/hosts映射容器中的路径
  ## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-hub 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载
  rbd_hub:
    args:
  ##    - --hub-ca=/r
  ##    - --hub-ca=/r
  ## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-mq 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载
  rbd_mq:
    args:
  ##    - --log-level        日志级别
  ##    - --etcd-endpoints   集群etcd连接地址
  ##    - --hostIP           本机ip
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-resource-proxy 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载      
  rbd_resource_proxy:
    args:
  ## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-webcli 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载      
  rbd_webcli:
    args:
  ##    - --hostIP            本机ip
  ##    - --log-level         日志级别
  ##    - --etcd-endpoints    etcd连接地址
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-monitor 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载      
  rbd_monitor:
    args:
  ##    --alertmanager-address AlertManager地址
  ##    --cadvisor-listen-port kubelet cadvisor监听端口
  ##    --config.file Prometheus 配置文件路径
  ##    --rules-config.file Prometheus alerting rules文件路径
  ##    --storage.tsdb.retention 数据保留时间，默认7天
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-db 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载      
  rbd_db:
    args:
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-chaos 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载      
  rbd_chaos:
    args:
  ##    - --hostIP    当前节点内网IP
  ##    - --log-level 日志级别（默认“info”)
  ##    - --mysql     数据库连接信息
  ##    - --etcd-endpoints  etcd v3集群连接信息。
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-worker 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载      
  rbd_worker:
    args:
  ##    - --log-level   日志级别
  ##    - --host-ip     此工作进程的ip，必须是全局连接的ip
  ##    - --node-name   此工作进程的名称，必须是全局唯一名称
  ##    - --mysql       数据库连接信息
  ##    - --etcd-endpoints  etcd v3集群连接信息
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: 
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-eventlog 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载      
  rbd_eventlog:
    args:
  ##    - --cluster.bind.ip    集群通信监听IP
  ##    - --cluster.instance   群集中的当前实例通信IP
  ##    - --websocket.bind.ip  推送事件消息的websocket绑定ip
  ##    - --db.url             数据库连接信息
  ##    - --discover.etcd.addr 为消息提示自动发现群集中的etcd服务器地址
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image:
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## rbd-app-ui 组件自定义信息: 启动参数，环境变量，镜像地址，存储挂载
  rbd_app_ui:
    enable: true
    args:
## 环境变量variable_name为变量名,variable为变量值
  ##  env:
  ##      variable_name: variable  
  ##  image: registry.cn-hangzhou.aliyuncs.com/goodrain/rainbond:v5.7.0-release-allinone
  ##  volumes:
  ##    testpv:
  ##      persistentVolumeClaim:
  ##        claimName: rbd-cpt-grdate
  ##    testsc:
  ##      secret:
  ##        defaultMode: 420
  ##        secretName: rbd-api-server-cert
  ##  volumeMounts:
  ##    testpv: /data
  ##    testsc: /test


## nfs-provisioner 组件自定义信息: 镜像地址
  nfs_provisioner:
    image:


## rbd-etcd 组件自定义信息: 镜像地址
  rbd_etcd:
    image:

## metrics-server 组件自定义信息: 镜像地址
  metrics_server:
    image:

## dashboard-metrics-scraper 组件自定义信息: 镜像地址
  dashboard_metrics_scraper:
    image:


## kubernetes-dashboard 组件自定义信息: 镜像地址
  kubernetes_dashboard:
    image:


## 开启子chart
nfs-client-provisioner:
  childChart:
    enable: false
  nfs:
    server:
    path: