#############################################
# 
# Copyright 2023 Goodrain Co., Ltd.
# 
# This version of the GNU Lesser General Public License incorporates
# the terms and conditions of version 3 of the GNU General Public License.
# 
#############################################


# Default values for mychart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Install Default RBAC roles and bindings
rbac:
  create: true
  apiVersion: v1

## Service account name and whether to create it
serviceAccount:
  create: true
  name: appstore-operator

# Use K3s Containerd
useK3sContainerd: false

# rainbondOperator
operator:
  name: appstore-operator
  # operator environment variable, ref: https://www.rainbond.com/docs/ops-guide/management/change-ports
  # env:
  # - name: API_PORT
  #   value: "7443"
  # - name: API_WS_PORT
  #   value: "6066"
  image:
    name: registry.ap-southeast-1.aliyuncs.com/goodrain-ee/rainbond-operator
    tag: yanxiang-new
    pullPolicy: IfNotPresent
  logLevel: 4

#############################################
# IAM Configuration
#############################################
IAM:
  REACT_BASE_URL_ADMIN: https://91iam-mgmt-gateway.9n1m.com/appstore-gys-admin
  REACT_BASE_URL_USER: https://91iam-gateway.9n1m.com/appstore-gys-user
  YANXIANG_MGMT_AUTH_URL: https://91iam-mgmt.9n1m.com
  YANXIANG_INST_AUTH_URL: https://91iam-inst.9n1m.com
  YANXIANG_MGMT_HOME_URL: https://91iam-mgmt.9n1m.com/console
  YANXIANG_INST_HOME_URL: https://91iam-inst.9n1m.com/account
  MARKET_INFO:
    MARKET_OPEN:
    MARKET_DETAIL:
    MARKET_ONLINE:
  APP_CODE_ADMIN: appstore-gyx-admin
  APP_CODE_USER: appstore-gyx-user

#############################################
# Ingress Configuration
#############################################
Ingress:
  console:
    host: console-gw-test.9n1m.com
    tls:
      secretName: 9n1m-com
  admin:
    host: admin-gw-test.9n1m.com
    tls:
      secretName: 9n1m-com
  user:
    host: user-gw-test.9n1m.com
    tls:
      secretName: 9n1m-com

#############################################
# Rainbondcluster install Configuration
#############################################
Cluster:
  # role  master or backup
  role: master

  imagePullSecrets: ""

  # Enable cluster environment detectio
  enableEnvCheck: false

  # Use an external image repository
  imageHub:
    enable: false
    domain: registry.cn-hangzhou.aliyuncs.com
    namespace: rainbond
    password: admin
    username: admin

  # External storage, fill storageClassName, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config#%E9%85%8D%E7%BD%AE%E5%A4%96%E9%83%A8%E5%AD%98%E5%82%A8
  RWX:
    enable: false
    type: none
    config:
      storageClassName: glusterfs-simple
      server: 
  
  # External storage, fill storageClassName, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config#%E9%85%8D%E7%BD%AE%E5%A4%96%E9%83%A8%E5%AD%98%E5%82%A8
  RWO:
    enable: false
    storageClassName: glusterfs-simple

  # Rainbond region database, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config/#%E9%85%8D%E7%BD%AE-rainbond-%E9%9B%86%E7%BE%A4%E7%AB%AF%E6%95%B0%E6%8D%AE%E5%BA%93
  regionDatabase:
    enable: false
    host: 192.168.0.1
    name: region
    password: password
    port: 3306
    username: admin

  # Rainbond Console database, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config/#%E9%85%8D%E7%BD%AE-rainbond-%E6%8E%A7%E5%88%B6%E5%8F%B0%E6%95%B0%E6%8D%AE%E5%BA%93
  uiDatabase:
    enable: false
    host: 192.168.0.1
    name: console
    password: password
    port: 3306
    username: admin 

  # Rainbond ElasticSearch
  elasticsearch:
    console:
      host: http://192.168.0.1:9200
      username: elastic
      password: elastic
    region:
      host: http://192.168.0.1:9200
      username: elastic
      password: elastic

  # External gateway IP address
  # gatewayIngressIPs: 192.168.0.1

  # rbd-chaos configurationï¼Œref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config/#%E9%85%8D%E7%BD%AE%E6%9E%84%E5%BB%BA%E8%8A%82%E7%82%B9
  # nodesForChaos:
  # - name: node1
  # - name: node2

  # rbd-gateway configuration, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config/#%E9%85%8D%E7%BD%AE%E7%BD%91%E5%85%B3%E8%8A%82%E7%82%B9
  # nodesForGateway:
  # - externalIP: 192.168.0.1
  #   internalIP: 192.168.0.1
  #   name: node1
  # - externalIP: 192.168.0.2
  #   internalIP: 192.168.0.2
  #   name: node2

  # Component unified image repository and namespace, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config/#%E9%85%8D%E7%BD%AE%E9%9B%86%E7%BE%A4%E7%AB%AF%E9%95%9C%E5%83%8F%E8%8E%B7%E5%8F%96%E5%9C%B0%E5%9D%80
#  rainbondImageRepository: registry.ap-southeast-1.aliyuncs.com/goodrain-ee
  rainbondImageRepository: registry.ap-southeast-1.aliyuncs.com/goodrain-ee

  # Component image version, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config/#%E9%85%8D%E7%BD%AE%E5%AE%89%E8%A3%85%E7%89%88%E6%9C%AC
  installVersion: yanxiang-new

  # Component image pull policy, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config/#%E9%85%8D%E7%BD%AE%E9%9B%86%E7%BE%A4%E7%AB%AF%E9%95%9C%E5%83%8F%E6%8B%89%E5%8F%96%E7%AD%96%E7%95%A5
  imagePullPolicy: IfNotPresent

  # Number of component copies, ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config/#%E9%85%8D%E7%BD%AE%E9%9B%86%E7%BE%A4%E5%89%AF%E6%9C%AC
  replicas: 1
 


############################################
# Rainbond Component Configuration
############################################
Component:
  region_all:
    enable: true

  # rbd-api component configuration
  # ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config#%E9%85%8D%E7%BD%AE-rbd-api-%E5%8F%82%E6%95%B0
  # ref: ref: https://www.rainbond.com/docs/ops-guide/management/change-ports
  rbd_api:
    args:
    # - --api-addr-ssl 0.0.0.0:8443
    # - --ws-addr 0.0.0.0:6060
    
  # rbd-gateway component configuration
  # ref: https://www.rainbond.com/docs/installation/install-with-helm/vaules-config#%E9%85%8D%E7%BD%AE-rbd-gateway-%E5%8F%82%E6%95%B0
  # ref: ref: https://www.rainbond.com/docs/ops-guide/management/change-ports
  rbd_gateway:
    apisix_ingress_image: "registry.ap-southeast-1.aliyuncs.com/goodrain-ee/apisix-ingress-controller:1.8.2"
    apisix_image: "registry.ap-southeast-1.aliyuncs.com/goodrain-ee/apisix:3.9.1-debian"
    args:
    # - --service-http-port 80
    # - --service-https-port 443

  # rbd-hub component configuration
  rbd_hub:
    args:
  
  # rbd-mq component configuration
  rbd_mq:
    args:

  # rbd-resource-proxy component configuration  
  rbd_resource_proxy:
    args:
  
  # rbd-webcli component configuration  
  rbd_webcli:
    args:

  # rbd-monitor component configuration    
  rbd_monitor:
    args:
  
  # rbd-db component configuration
  rbd_db:
    args:

  # rbd-chaos component configuration
  rbd_chaos:
    args:

  # rbd-worker component configuration
  rbd_worker:
    args:

  # rbd-eventlog component configuration
  rbd_eventlog:
    args:
  
  # rbd-app-ui component configuration
  rbd_app_ui:
    enable: true
    env:
    - name: TZSTORE_HOST
      value: http://118.31.115.79:31000/api
    - name: YXREGION_HOST
      value: http://manageswagger-iot.9n1m.com/api
    - name: IAM_HOST
      value: https://iam-gw-test.9n1m.com/iam/api
    - name: ADMIN_USER_HOST
      value: https://iam-gw-mg-test.9n1m.com/iam/api
    - name: IAM_CHANNEL_CODE
      value: APPSTORE
    - name: IAM_TERMINAL_TYPE
      value: PC_WEB
    - name: BJOERN_PROCESSES
      value: "20"
    - name: ALERT_URL
      value: ""
    storageClassName: ""

## Enable nfs chart, default is false
nfs-client-provisioner:
  childChart:
    enable: false
  nfs:
    server: 
    path: 
