#############################################
# 
# Copyright 2023 Goodrain Co., Ltd.
# 
# This version of the GNU Lesser General Public License incorporates
# the terms and conditions of version 3 of the GNU General Public License.
# 
#############################################

{{- if .Values.operator }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.operator.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: {{ .Values.operator.name }}
    release: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      control-plane: {{ .Values.operator.name }}
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: {{ .Values.operator.name }}
        release: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      volumes:
        {{- if .Values.useK3sContainerd }}
        - hostPath:
            path: /var/run/k3s/containerd
            type: Directory
          name: rundir
        {{- else }}
        - hostPath:
            path: /run
            type: Directory
          name: rundir
        {{- end }}
        - hostPath:
            path: /var
            type: Directory
          name: vardir
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
            - --zap-log-level={{ .Values.operator.logLevel }}
          env:
          {{- range .Values.operator.env }}
          - name: {{ .name }}
            value: "{{ .value }}"
          {{- end }}
          {{- if .Values.Cluster.enableEnvCheck }}
          - name: CHECK_PORT_OCCUPIED
            value: "{{ .Values.Cluster.enableEnvCheck }}"
          {{- end }}
          image: {{ .Values.operator.image.name }}:{{ .Values.operator.image.tag }}
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          name: {{ .Values.operator.name }}
          securityContext:
            allowPrivilegeEscalation: false
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
          volumeMounts:
            - mountPath: /var
              name: vardir
            {{- if .Values.useK3sContainerd }}
            - mountPath: /run/containerd
              name: rundir
            {{- else }}
            - mountPath: /run
              name: rundir
            {{- end }}
      terminationGracePeriodSeconds: 10
{{- end }}
